
.container {
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    box-sizing: border-box; /* Set box-sizing to border-box */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  .title{
    margin: 90px auto 10px;
    font-size: 40px;
  }
  
  .border {
    width: 100%;
    max-width: calc(100% - 33vw); 
    min-height: fit-content; 
    box-sizing: border-box;
    margin: 30px auto 30px;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
    /* display: grid;
    gap: 1.5rem;
    grid-auto-rows: fit-content;
    grid-template-columns: repeat(auto-fit, minmax(min(100%,18rem), 1fr));
    grid-auto-flow: dense; */
  }

  .mas{
    margin-bottom: 30px;
    padding: 3px 8px;
    border: 1px solid #000;
    border-radius: 40px;
    cursor: pointer;
  }

  @media screen and (max-width:1100px) {
    .border {
      max-width: calc(100% - 25vw); 
      grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width:680px) {
    .border {
      grid-template-columns: 1fr;
      max-width: calc(100% - 20vw); 
      margin: 90px 55px 30px auto;

    }
  }