
.list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;


}

.list li{
    padding: 0px;
    margin: 0px 5px
    

}

.list button{
    width: 30px;
    font-size: small;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.35);
    background-color: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.list button:hover{
    scale: 1.1;
}

.here{
    background-color:  #000000;
    color: #fff;
}